@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
}

body {
    font-family: 'Poppins', sans-serif;
    color: #4c6986;
    background-color: rgb(49, 42, 42)

}

.title {
    max-width: 500px;
}
.wrapper {
    max-width: 1440px;
    padding: 40px;
    height: 800px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 0 auto;
}

h1 {
    font-size: 40px;
    font-weight: 500;
}
.restart {
    width: 175px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    border: 2px solid #4c6986;
    transition: all 0.2s ease;
    cursor: pointer;
    font-weight: bold;
    margin-top: 30px;
}

.restart:hover {
    background:#4c6986;
    color: white;
}

.game {
    display: flex;
    flex-direction: column;
    width: 500px;
    height: 500px;
}

.header {
    display: flex;
    color: #9A9A9A;
    font-size: 24px;
}

.header .player-X {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-X.active {
    color: white;
    border-color: rgb(53, 53, 204);
}
.header .player-O {
    flex: 1;
    border-bottom: 5px solid #eee;
    padding-bottom: 8px;
}

.player-O.active {
    color: white;
    border-color: rgb(53, 53, 204);
}
.board {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-gap: 0px;
    flex-grow: 1;
    padding: 10px;
    background-color: rgb(49, 42, 42);
}

.board-tile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 80px;
    background-color: white;
    cursor: pointer;
    background-color: rgb(49, 42, 42);
} 

.board-tile:not(:nth-child(3n)) {
    border-right: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:not(:nth-last-child(-n + 3)) {
    border-bottom: 3px solid rgba(137, 163, 189, 0.58);
}

.board-tile:hover {
    background-color: rgb(49, 42, 42);
}

.tile-x {
    color: #42BED7;
}

.tile-o {
    color: #D7BAFB;
}

.tile-winner span{
    color: #23ce6b;
}

@media only screen and (max-width: 1200px){
    .wrapper {
        flex-direction: column;
    }

    .left {
        margin-bottom: 50px;
    }
}
    